<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<style>
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* Layout styling */
.container {
  padding: 0 0px;
}



#hero {
  background-color: #ffe4c4;
}

#hero h1 {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#hero h2 {
  text-align: center; /* Centers text */
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

footer h1 {
  text-align: center;
}

footer p {
  text-align: center;
}

div h2 {
  text-align: center;
}



nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #white;
}

nav > ul > li > a {
  padding 0 15px:
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  background-color: #white;
}

nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: inherit;
    color: #b852f7;
    border-bottom: 0px solid #e0ff56;
    padding-bottom: 8px;
}

nav > ul > li > a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    background-color: #7e49f6;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #ffe599;
    transition: 0.2s opacity;
}

nav > ul > li > a:active {
    padding: 0 15px;
    text-transform: uppercase;
    background-color: #ffe599;
    color: #7e49f6;
    font-weight: 700;
    padding-bottom: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #7e49f6;
    transition: 0.2s opacity;
}

h1 {text-align: center;}
header {
  background-color: #white;

  padding: 0;
  margin: 0;
  min-width: 641px
}

header h1{
  text-align: left;
}

header {

  background-color: #ffe4c4;
}


selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

  selector {
    position: relative;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 10px 0;
}
  .logo {
    max-width: 250px;
    text-align: center;
    padding: 10px 0;
  }
  body {
      background-color: #white;
      font-family: 'Cormorant', sans-serif;
      font-size: 18px; /* Sets the font size to 16px */
      font-weight: 300; /* Sets the font weight to 300 */
      line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
      color: #000000;
    }

  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

a {
    background-color: inherit;
    color: #7e49f6;
    text-decoration: none;
}
a:visited {
    background-color: inherit;
    color: #b852f7;
}

a:hover {
    background-color: inherit;
    color: #1159d5;
}

a:active {
    background-color: inherit;
    color: #b852f7;
}

  .button {
    background-color: #ffc000;
    color: #000000;
    border: 2px solid #ffc000;
  }
  .button:hover {
  background-color: #ffffff;
  color: #08447b;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active,
.button:focus {
    background-color: #ff7f50;
    color: #000000 !important;
    border-bottom: 2px solid #994c30;
    opacity: 0.8;
    text-decoration: none;
}

.button.contact {
    background-color: #fdd537;
    color: #000000 !important;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
}
.button.contact:hover {
    background-color: #000000;
    color: #ffffff !important;
    border-bottom: 2px solid #fdd537;
}
.button.contact:active {
    background-color: #000000;
    color: #ffffff;
}



transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];

main {
  padding-top: 99px;
}

selector {
  float: right;
}
selector {
  width: 1200px;
}
selector {
  width: 80%;
}

/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20pm 0 13px;
  }
  nav {
    width:auto;
    float: unset;
    margin: 1em 0;
  }
  nav > ul {
    margin: 1em 0;
    }
    nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }
    nav > ul > li {
  display: inline-block;

}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li:not(:last-child) {
    display: inline-block;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 45px;
  padding-right: 30px
}

.navtoggle.responsive nav {
   padding: 24px 0 0;
 }

 .navtoggle li .icon:active {
   color: #0021C0;
 }


 .navtoggle.responsive li:visited {
   text-decoration: none;
   color: #181919;
 }


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

}
.col-lg-7 {
   width: 58.33%;
 }
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 5px 0 5px;
    min-width: 640px;
  }
  #about-page h3 { margin-top: 0;}

  nav {
    width: auto;

    margin-top: 4px;

  }

  .col-md-6 {
  width: 50%;
}

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  .row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

-webkit-box-shadow: 0px 6px 12px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 6px 12px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 6px 12px 0px rgba(50, 50, 50, 0.75);

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}


main {
  padding-top: 56px;
}

.navtoggle.responsive li  {
  display: block;
}

nav {
  background-color: white;
  padding-top: 50px;
}



</style>
